.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  padding: 0;
  margin: 40px;
  list-style-type: none;
}

.item {
  text-align: center;
  background-color: teal;
}

.link {
  display: block;
  padding: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
