.mainCanvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding: 0;
  margin: 0;
}

.overlay {
  position: relative;
  z-index: var(--overlay-z-index);
  display: grid;
  gap: 8px;
  max-width: 60vw;
  max-height: calc(100vh - 160px);
  padding: 80px 16px;
  overflow: auto;
  color: white;

  & p {
    margin: 0;
  }

  & select {
    padding: 8px;
    margin-inline: 8px;
  }
}
